$black: #000;
$dark-grey: #343338;
$red: #B52020;
$blue: #2980B9;
$green: #58A848;
$dark-green: #326D26;
$yellow: #F4D004;
$skin: #F0B496;
$white: #fff;

$triangle: polygon(0 10%, 0 90%, 100% 53%);
$trapezoid: polygon(0 0, 100% 29%, 100% 94%, 0 69%);
$down-triangle: polygon(50% 64%, 0 0, 100% 0);
$hulk: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 75% 100%, 25% 100%, 0 76%, 0% 20%);
$hair-line: polygon(62% 0, 0 0, 11% 100%);
$hair-end: polygon(52% 0, 100% 0, 100% 100%, 88% 100%);
$eyebrow: polygon(0 62%, 100% 8%, 100% 69%, 0 89%);
$teeth: polygon(15% 55%, 85% 55%, 100% 100%, 0 100%);
$ironman: polygon(20% 0%, 80% 0%, 100% 0, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 0);
$mask: polygon(8% 0, 92% 0, 92% 46%, 75% 80%, 85% 100%, 15% 100%, 25% 80%, 8% 46%);
$middle-mask: polygon(0 0, 100% 0, 81% 100%, 20% 100%);

body, html {
  background: $dark-grey;
  height: 100%;
  width: 100%;
}

.box {
  position: relative;
  top: 10%;
  margin: auto;
  height: 300px;
  width: 350px;
  border: 3px solid $green;
}

.icon {
  width: 70px;
  height: 70px;
}

.hulk {
  position: absolute;
  background: $green;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 35%;
  clip-path: $hulk;
  -webkit-clip-path: $hulk;
}

.hair {
  position: absolute;
  background: $black;
  width: 90%;
  height: 35%;
  left: 5%;
  top: 4%;
  border-radius: 30px 30px 10px 5px;
  .hair1 {
    clip-path: $hair-end;
    -webkit-clip-path: $hair-end;
    background: $black;
    width: 30%;
    height: 50%;
    top: 80%;
    left: 0%;
    transform: scaleX(-1);
    position: absolute;
  }
  .hair2 {
    clip-path: $hair-line;
    -webkit-clip-path: $hair-line;
    background: $black;
    width: 40%;
    height: 50%;
    top: 73%;
    left: 15%;
    position: absolute;
  }
  .hair3 {
    clip-path: $down-triangle;
    -webkit-clip-path: $down-triangle;
    background: $black;
    width: 20%;
    height: 50%;
    top: 88%;
    left: 30%;
    transform: rotate(10deg);
    position: absolute;
  }
  .hair4 {
    clip-path: $down-triangle;
    -webkit-clip-path: $down-triangle;
    background: $black;
    width: 20%;
    height: 50%;
    top: 88%;
    left: 50%;
    transform: rotate(10deg);
    position: absolute;
  }
  .hair5 {
    clip-path: $down-triangle;
    -webkit-clip-path: $down-triangle;
    background: $black;
    width: 20%;
    height: 50%;
    top: 88%;
    left: 65%;
    transform: rotate(10deg);
    position: absolute;
  }
  .hair6 {
    clip-path: $hair-end;
    -webkit-clip-path: $hair-end;
    background: $black;
    width: 30%;
    height: 50%;
    top: 76%;
    left: 68%;
    transform: rotate(10deg);
    position: absolute;
  }
}